<div id="siteNotice">
  <div id="localNotice" dir="ltr" lang="en">
    <div class="warningbox">
      <p>
        <strong>Notice:</strong><br/>
        The WebPlatform project has been <b>discontinued</b> when the
        <a href="http://blog.webplatform.org/2012/10/one-small-step/">Stewards partnership</a>
        agreement ended in <i>September 2015</i>.
        This site has been frozen, and the assets we have created will remain.
      </p>
    </div>
  </div>
</div>
